CMakeCache.txt
CMakeFiles
Makefile
build
cmake_install.cmake
install_manifest.txt
example
linenoise_example
libreplxx.a
*.dSYM
history.txt
*.o
*~
replxx_history.txt

.buckd
buck-out
.buckconfig.local
.buckconfig.d
